
.navApp-item:hover {
  color:white;
  transform: translateY(-2px);
}

.navApp-item.active, .navApp-dropdown-item.active, .nav-understand-dropdown:has(.active) {
border-bottom: 3px solid var(--color-highlight);
/* transition: border-bottom .5s ease-in-out; */
}

.navApp-dropdown-item:hover { background: #6684aa }

.navApp-dropdown-item{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-direction: row;
  border-radius: 0.2rem;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0;
  text-indent: 0;
}

.dropdown-content > a{
  text-decoration: none;
  padding: 0.25rem;
}

.navbarapp{
  height: var(--headerHeight);
  /* height: min-content; */
  background-color: #142a09;
  color: white;
  /* padding: 0 !important; */
}

.bg-appprimary{
  background-color: var(--color-primary);
  color: white;
  z-index: 99;
}

.navItem-icon{
  /* display: inline-block; */
  width: 2rem;
  height: 2rem;
  color: white;
}

.navbar-toggler-icon {
  border-color: rgb(255,102,203);
} 

.navbar-nav{
  all: unset;
}

.navItem-text {
  /* position: absolute; */
  font-size: 1rem;
  color: white;
}

.nav-understand-dropdown{
  position: relative;
  display: inline-block;
}

.nav-understand-dropdown:hover .dropdown-content{
  display: flex;
}

.nav-understand-dropdown .dropdown-content    {
  position: absolute;
  top: 100%;
  padding: 0.5rem;
  display: none;
  flex-direction: column;
  gap: 1rem;
  background: var(--color-primary);
  border-radius: 0.2rem;
}

/* 
.navApp-dropdown > a{
  color: white;
  padding: 0;
}

.nav-link:hover, .nav-link:focus{
  color: white;
}

.navbar-nav .show > .nav-link{
  color: white !important;
}

.navApp-dropdown > a:hover{
  color: white;
} */

#navbarAppContent{
  justify-content: space-between;
}

.navApp-item, .nav-understand-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.2rem;
  margin: 1rem;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0;
  text-indent: 0;
}

#navbarAppContent.collapse.show > .navApp-item{
  background: black;
}

.navApp-item:has(.navbar-main){
  color: blue;
  background: red;
}

.save-project.yes{
  color: rgb(255, 175, 175);
}

.tbcs-logo-image{
/* margin: 0.25em; */
width: 3rem;
height: 3rem;
}

.tbcs-logo-text{
  color: white;
  font-size: small;
}

.logo-text{
margin: 0.25em;
color:white;
font-size: 1.5em;
}

.project-selection-dropdown{
/* margin: 0.25em;
margin-right: 2em; */
  margin-left: 2rem;
  margin-right: 2rem;
}